<div class="about">
  <p>
    Данное приложение создано для автоматизированного документооборота кафедры.
  </p>
  <div class="list">
    <b><p>Функционал:</p></b>
    <ul>
      <li>Доступ на основе ролей</li>
      <li>Назначение РПД на преподавателей</li>
      <li>Составление РПД</li>
      <li>Управление шаблоном РПД</li>
      <li>Управление списком преподавателями</li>
    </ul>
    <div class="logo"><img src="assets/img/guap-desc-line_w.svg" alt="picture"/></div>
  </div>
  <p>
    Чтобы получить доступ к любым функциям приложения, необходимо войти в
    систему под учётной записью администратора или преподавателя.
  </p>
</div>
